extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home-news
		container
			.row
				.col-md-4.item
					a(href="#")
						figure
							.blockimg
								i.fa.fa-eye
								img(src="../img/img_1.png", alt="", srcset="")
							figcaption
								h3 
									|asbhfhkabfnkanf
								time 22/6/2018
								p
									|sdknfaKJBDKFBHLASFMLANF a kejnfnkaefhouhuEAFUC NKVIWNEFNWEA NCKJ SFUNKQW AC LAWMEOFMOWLV KFNW WEFLNAEO FNAL FNJLAEFNLNLASLN F
				.col-md-4.item
					a(href="#")
						figure
							.blockimg
								i.fa.fa-eye
								img(src="../img/img_2.png", alt="", srcset="")
							figcaption
								h3 
									|asbhfhkabfnkanf
								time 22/6/2018
								p
									|sdknfaKJBDKFBHLASFMLANF a kejnfnkaefhouhuEAFUC NKVIWNEFNWEA NCKJ SFUNKQW AC LAWMEOFMOWLV KFNW WEFLNAEO FNAL FNJLAEFNLNLASLN F
				.col-md-4.item
					a(href="#")
						figure
							.blockimg
								i.fa.fa-eye
								img(src="../img/img_3.png", alt="", srcset="")
							figcaption
								h3 
									|asbhfhkabfnkanf
								time 22/6/2018
								p
									|sdknfaKJBDKFBHLASFMLANF a kejnfnkaefhouhuEAFUC NKVIWNEFNWEA NCKJ SFUNKQW AC LAWMEOFMOWLV KFNW WEFLNAEO FNAL FNJLAEFNLNLASLN F
